body {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
}

#bar {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
}

a {
    color: #ffffff;
}

.picker {
    position: absolute;
    top: 85px;
    right: 50px;
    width: 300px;
    height: 150px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    overflow-y: auto;
}

.circuit-options {
  position: absolute;
  top: 60px;
  right: 50px;
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.circuit-options button {
  padding: 2px;
  border-radius: 50%;
  width:20px;
}

/* Style the buttons inside the tab */

.circuit-button {
    background-color: inherit;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display: block;
}

/* Change background color of buttons on hover */

.circuit-button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.circuit-button.active {
    background-color: #ccc;
}

.editor {
    position: absolute;
    top: 250px;
    bottom: 20px;
    right: 50px;
    width: 300px;
    border: 3px solid #00AD21;
    overflow-y: auto;
}

.editor-tokens {
    margin: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    text-align: left;
    background-color: blueviolet;
    padding: 3px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

.editor-buttons {
    float: right;
}

.editor-button {
    border-radius: 50%;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}
.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}
