body {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  background-color: #000000;
  margin: 0px;
  overflow: hidden;
}

#bar {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  text-align: left
}

.title
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float:right;
  margin: 5px 25px 0 0;
  color: blue;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.picker {
  position: absolute;
  top: 85px;
  right: 50px;
  width: 300px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  overflow-y: auto;
}

.circuit-options {
  position: absolute;
  top: 60px;
  right: 50px;
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-align: right;
}

.circuit-options button {
  padding: 2px;
  border-radius: 50%;
  width: 20px;
}

/* Style the buttons inside the tab */

.circuit-button {
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
  font-size: 14px;
  display: block;
}

/* Change background color of buttons on hover */

.circuit-button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

.circuit-button.active {
  background-color: #ccc;
}

.editor {
  position: absolute;
  top: 250px;
  bottom: 20px;
  right: 50px;
  width: 300px;
  border: 3px solid #00ad21;
  overflow-y: auto;
}

.editor-tokens {
  margin: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  text-align: left;
  background-color: blueviolet;
  padding: 3px;
  display: block;
  height: 21px;
  font-family: "Courier New", Courier, monospace;
}

.editor-buttons {
  float: right;
}

.editor-button {
  border-radius: 50%;
}

/* Side Panel styles */

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 95%;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.token-panel {
  position: absolute;
  top: 250px;
  bottom: 20px;
  right: 20px;
  width: 400px;
  border: 3px solid #00ad21;
  overflow-y: auto;
}

.token-panel-item{
  border-color: yellow;
}
.token-panel-editor{
  background-color: teal;
  height: 30px;
}
.token-panel-editor-button {
  border-radius: 50%;
  margin: 3px 5px 3px 0;
}
.token-panel-editor-options{
  float: right;
}
.token-panel-presentation{
  background-color: #ccc;
  height: 30px;
}

.token-action-label{
  color: white;
  border-radius: 7px;
  border-style: solid;
  padding:3px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8pt;
  display: inline-block;
  margin: 3px;
}

.action-label-move {
  background-color: grey;
  border-color: darkgrey;
}
.action-label-forward {
  background-color: green;
  border-color: darkgreen;
}

.action-label-vertical {
  background-color: orange;
  border-color: darkorange;
}
.action-label-horizontal {
  background-color: violet;
  border-color: darkviolet;
}
.action-label-left {
  background-color: red;
  border-color: darkred;
}
.action-label-right {
  background-color: blue;
  border-color: darkblue;
}
.token-parameters-label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 9pt;
  color: blue;
  margin-left: 15px;
}
.token-parameters-value{
  font-family: 'Courier New', Courier, monospace;
  font-size: 10pt;
  font-weight: bold;
  color: blue;
}

.parameters-text-editor{
  width: 50px;
  margin: 3px 0 0 10px;
}

/* select */
.select-css {
	display: inline;
	font-size: 10px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .8em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}

